<p>Buongiorno <%= username %>,</p>
<p>
  In merito all'evento '<%= link_to @inv.title, invitation_url(@inv), target: "_blank" %>' e all'opportunità per ARERA di partecipare
  il Presidente ti invita (in qualità di membro di <%= group_names %>) ad esprimere un tuo <%= link_to "parere", invitation_url(@inv), target: "_blank" %>.
</p>
<p>Buona giornata.</p>
