<p>Buongiorno,</p>
<p>
  In merito all'evento '<%= link_to @inv.title, invitation_url(@inv), target: "_blank" %>' e all'opportunità di ARERA a partecipare il Presidente ti invita di esprimere un tuo parere.
</p>
<p>Buona giornata.</p>
