<div class="row">
  <div class="col-sm">
    <h1 class="display-5">Utilizzo web app / interazione utenti</h1>
  </div>
</div>

<%= render 'few_months_shades' %>
<div id="ui-day">
  <%= render 'one_day_shades', ui: @ui_day, day: @today, max_val: @ui_day_max %>
</div>
<div id="ui-table">
  <%= render 'table', user_interactions: @user_interactions %>
</div>
