<div class="row">
  <div class="col-sm">
    <h1 class="display-5">Nuovo gruppo</h1>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="row crud-links-top">
      <div class="col">
        <% if policy(Group).index? %><%= link_to_list groups_path %><% end %>
      </div>
    </div>

    <%= render 'form', group: @group %>

    <div class="row crud-links-bottom">
      <div class="col">
        <% if policy(Group).index? %><%= link_to_list groups_path %><% end %>
      </div>
    </div>
  </div>
</div>
