<div class="row">
  <div class="col-sm">
    <h1 class="display-5">Nuovo utente</h1>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="row crud-links-top">
      <div class="col">
        <% if policy(User).index? %><%= link_to_list users_path %><% end %>
      </div>
    </div>

    <%= render 'form', user: @user %>

    <div class="row crud-links-bottom">
      <div class="col">
        <% if policy(User).index? %><%= link_to_list users_path %><% end %>
      </div>
    </div>
  </div>
</div>
