<p>Buongiorno,</p>
<p>Nel corso della sincronizzazione con il database del Personale sono stati rilevati utenti non presenti nel database di Inviti e sono stati pertanto aggiunti.</p>
<p>Utente/i aggiunto/i: <%= @users_added %></p>
<p>Timestamp: <%= I18n.l Time.now, format: :long %></p>
