<div class="row align-items-center justify-content-center">
  <div class="col-4">
    <p class="inviti">inviti</p>
    <div class="button">
      <%= link_to "Accedi", dashboard_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="arera">
      <%= image_tag "arera401x57.png", height: 40 %>
    </div>
  </div>


</div>
