<div class="row mb-3">
  <div class="col-sm-6">
    <%= link_to invitations_path(sel: session[:invitation_index_sel]), class: "btn btn-link" do %>
      <%= content_tag(:i, "", class: "fas fa-arrow-left fa-fw") + " Torna alla lista" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <% if policy(@invitation).audits? %>
      <%= link_to audits_invitation_path(@invitation, seen_at: @seen_at), class: "btn btn-link float-right", remote: true do %>
        <%= content_tag(:i, "", class: "fas fa-history fa-fw") + " Storico modifiche" %>
      <% end %>
    <% end %>
  </div>
</div>
