<div class="card mb-5 border-left-info">
  <div class="card-body py-0">
    <%= render "invitations_search" %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row inv-cards">
      <% invitations.each do |invitation| %>
        <div class="col pr-4 pb-4">
          <%= render 'inv_card', inv: invitation %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card my-4 border-left-info">
  <div class="card-body">
    <%= render "invitations_search_paging" %>
  </div>
</div>
