<% if @invitation.assignment_steps.any? %>
  <div class="dropup assignment-steps">
    <button class="btn btn-info btn-sm dropdown-toggle mb-3" type="button" id="dropupMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= assignment_step_msg @invitation.assignment_steps.last, truncate_at: 80 %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @invitation.assignment_steps.each_with_index do |as, i| %>
        <div class="dropdown-item">
          <span class="ordinal"><%= "#{i+1}. " %></span>
          <%= assignment_step_msg as %>
          <% if as.accept.try(:comment) %>
            <span class="fa-wrapper assignment-step-modal" data-comment="<%= as.accept.comment %>">
              <i class="far fa-comment"></i>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>



  <div class="modal fade" id="assignment_step_msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Commento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="comment-here"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
