@import "bootstrap";
@import "sb-admin";

@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import "welcome";
@import "tempusdominus-bootstrap-4";




.margin-bottom-20 {
  margin-bottom: 20px;
}

.crud-links-top {
  margin-bottom: 20px;
}

.crud-links-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.actions.space-top {
  margin-top: 20px;
}
