@import "sb-admin-2";

@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "welcome";
@import "tempusdominus-bootstrap-4";

@import "jquery.dataTables";
@import "dataTables.bootstrap4";

@import "invitations";
@import "chat";

@import "corner-ribbon";
@import "contributions";
@import "calendario";

@import "autocomplete";
@import "avatar-style";
@import "request-opinions";
@import "shades";
@import "dashboard";
@import "user_interactions";

// @import "ribbon";

#content-wrapper {
  background-color: #e0e0d3; // #bfbfb0;
}

#content {
  background-color: #ebf4ff;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.crud-links-top {
  margin-bottom: 20px;
}

.crud-links-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.actions.space-top {
  margin-top: 20px;
}

.navbar .current-user {
  color: #ddd;
}






.list-group-item {
  border: 1px solid #666;
}
.list-group-item.header {
  background-color: #666;
  color: #eee;
  padding: 5px 10px;

  .date {
    float: right;
  }
}

.card-body {
  position: relative;

  .email {
    border-left: 10px solid orange;
    padding-left: 10px;

    dl.dl-horizontal {
      dt {
        width: 70px;
      }
      dd {
        margin-left: 85px;
      }
    }
  }
}




.list-group-item.footer {
  background-color: #666;
  color: #eee;
  padding: 5px 10px;
}

.section.email {
  margin: 40px 10px;
  border: 1px solid #999;
  padding: 30px 20px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(153,153,153,1);
  -moz-box-shadow: 10px 10px 20px 0px rgba(153,153,153,1);
  box-shadow: 10px 10px 20px 0px rgba(153,153,153,1);

  ul {
    padding-left: 16px;
  }

  dt, dd {
    line-height: 2;
  }
}

.panel-email {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  dt, dd {
    line-height: 2;
  }

}

.noticex-wrapper {
  margin-top: 0px;
}

.noticex {
  margin-top: 10px;
}


.opinion-choice {
  border-bottom: 0.8px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.other-opinions {
  border-bottom: 0.8px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .title {
    font-variant: small-caps;
    margin-bottom: 10px;
    color: #666;
  }
  ul {
    padding-left: 30px;
  }
}

.panel-email span.no-attachments {
  color: #bbb;
  font-style: italic;
}

span.long-format-dt {
  color: #ccc;
}

.footer-list-edit-destroy-links {
  margin-top: 40px;
}



[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 3.6em;
  height: 3.6em;
  line-height: 3.6em;
  text-align: center;
  border-radius: 50%;
  background: #174d8f;
  // background: attr(data-bg-color);
  // background: plum;
  vertical-align: middle;
  margin-right: 1em;
  margin-left: 1em;
  color: white;
}

[data-letters].sm:before {
  font-size: 0.75em;
  width: 3.0em;
  height: 3.0em;
  line-height: 3.0em;
}

.sidebar-brand-text.inviti-logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  text-transform: none;
  color: #ddd;
  font-size: 1.6rem;
}

footer.sticky-footer {
  border-top: 1px solid #ddd;

  .what {
    font-family: 'Oleo Script Swash Caps';
    font-size: 1.2rem;
    color: #666;
    margin-right: 20px;

  }
}

table.record-list {
  tr.clickable {
    cursor: pointer;
  }
}


// .navbar-nav .nav-item .nav-link .badge.inv-count {
.sidebar .badge.inv-count {
  position: static;
  font-weight: 500;
  font-size: 0.9rem;
  float: right;
}
.sidebar.toggled .badge.inv-count {
  position: static;
  font-weight: 500;
  font-size: 0.7rem;
  float: none;
}


.sticky-footer.sticky-footer-100 {
  width: 100%;
}

.alert.alert-thin {
  padding: 0.30rem 0.50rem;
  font-size: 0.85em;
}

#error_explanation {
  color: #c82814;
  background-color: #ffeff3;
  border-color: #e74a3b;
}
