// index view

.inv-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .inv-card {
    align-self: flex-start;
    min-width: 380px;
    max-width: 420px;
    cursor: pointer;
    font-size: 0.85em;

    // margin-bottom: 20px; // https://getbootstrap.com/docs/4.1/utilities/spacing/
    &:hover {
      box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.60) !important;
    }
  }
}




.card-footer.status-icons {
  height: 41px;
  span.icon-wrapper {
    color: #666;
    margin-right: 12px;
  }
}

td.status-icons {
  span.icon-wrapper {
    font-size: 0.9em;
    color: #666;
    margin-right: 10px;
  }
}



.inv-card .location span {
  margin-left: 6px;
  color: grey;
}

.inv-card .datetime span {
  margin-left: 6px;
  color: grey;
}

.card {
  border-color: #bbb;
}

.inv-infos {
  margin-bottom: 20px;
  p {
    margin-bottom: 3px;
  }

  .title {
    font-size: 1.1rem;
    font-weight: 800;
  }

  .alt-title {
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    color: #999;
  }
  .organizer {
    font-size: 0.8rem;
    color: #aaa;
  }
}

.inv-card .badge.new-inv {
  margin-right: 10px;
}

.inv-card .card-header {
  position: relative;
}
.inv-card .card-header .niu {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 24px;
  background-color: #2c75e3;
  color: #dedede;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}


.ajax-submit-feedback {
  margin-left: 30px;
  color: #aaa;
}

.vis-mode {
  label.btn {
    padding-left: 2em;
    padding-right: 2em;
  }
}


.cal-event {
  cursor: pointer;
}
.cal-event:hover {
  -moz-box-shadow: 0 0 20px #666;
  -webkit-box-shadow: 0 0 20px #666;
  box-shadow: 0 0 20px #666;
}

.update_invitations {
  margin-top: 50px;
}


.inv-card .archive-btn {
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: red;
  color: rgba(220, 0, 0, 0.45);

  &:hover {
    color: rgba(220, 0, 0, 0.7);
  }
}

.scroll-email {
  overflow-y: scroll;
  height: 250px;
}


.dropup.assignment-steps {
  button {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
  }
  .dropdown-menu {
    font-size: 0.8em;
  }
}


.badge-assigned {
  color: #fff;
  background-color: #add44b;
}
.badge-accepted {
  color: #fff;
  background-color: #0d6309;
}
.badge-declined {
  color: #fff;
  background-color: #ed3717;
}
.badge-past {
  color: #fff;
  background-color: #ae1d0e;
}

.invitation-table {
  font-size: 0.85em;
}
