table.rejected-invitations {

  tr.not-dismissed {
    color: #222;

    a.title-link {
      color: #222;
    }
  }

  tr.dismissed {
    color: #ccc;

    a.title-link {
      color: #ccc;
    }
  }

}
