
#welcome {

  div.row {
    margin-top: 160px;
  }
  p.inviti {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #ddd;
    font-size: 5em;
    margin-bottom: 50px;
    text-align: center;
  }
  .button {
    text-align: center;
    margin-bottom: 160px;
  }
  .arera {
    position: fixed;
    bottom: 20px;
    text-align: center;
  }
}
